.container{
    height: 100vh;
    display:grid;
    grid-template-columns:10% 1fr 10%;
    grid-template-rows: 200px 1fr;
    justify-items: center;
}
header{
    grid-column: 2/3;
    grid-row: 1/2;
}

main{ 
grid-column: 2/3;
grid-row: 2/3;
/* subgrid */
display:grid;
grid-template-rows:1fr 1fr;

}

.corona{
    
}

.p{
    grid-row: 1/2;
}

.main_imagenes{
    grid-row: 2/3; 
    display: flex;
    justify-content: center;
}


